/* telugu */
@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: local('Ramabhadra'), url(EYq2maBOwqRW9P1SQ83LSghMXquW.ttf) format('trueType');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: local('Ramabhadra'), url(EYq2maBOwqRW9P1SQ83LShRMXg.ttf) format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* telugu */
@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: local('Ramabhadra'), url(EYq2maBOwqRW9P1SQ83LSghMXquW.woff2) format('woff2');
  unicode-range: U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: local('Ramabhadra'), url(EYq2maBOwqRW9P1SQ83LShRMXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
