/* latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 400;
  src: local('Unkempt Regular'), local('Unkempt-Regular'), url(2EbnL-Z2DFZue0DSeYEV8g.ttf) format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 700;
  src: local('Unkempt Bold'), local('Unkempt-Bold'), url(2EbiL-Z2DFZue0DScTow5zK5qg.ttf) format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 400;
  src: local('Unkempt Regular'), local('Unkempt-Regular'), url(2EbnL-Z2DFZue0DSeYEV8g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 700;
  src: local('Unkempt Bold'), local('Unkempt-Bold'), url(2EbiL-Z2DFZue0DScTow5zK5qg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
