/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(OpNCnoEOns3V7GcPrg7shw.ttf) format('trueType');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(OpNCnoEOns3V7GcOrg4.ttf) format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(OpNPnoEOns3V7G-1ixvSpi9NXw.ttf) format('trueType');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(OpNPnoEOns3V7G-1ixvTpi8.ttf) format('trueType');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(OpNCnoEOns3V7GcPrg7shw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: local('Khula Regular'), local('Khula-Regular'), url(OpNCnoEOns3V7GcOrg4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(OpNPnoEOns3V7G-1ixvSpi9NXw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: local('Khula Bold'), local('Khula-Bold'), url(OpNPnoEOns3V7G-1ixvTpi8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
